{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h2 style="text-align: center">{{ conference.titre }}</h2>
        <hr>
        {{ conference.description }}
    </div>
{% endblock %}