{% extends "base.html.twig" %}

{% block body %}
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>firstname</th>
                <th>email</th>
                {% if is_granted(['ROLE_ADMIN']) %}
                <th>role</th>
                {% endif %}
            </tr>
            </thead>
        <tbody>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if is_granted(['ROLE_ADMIN']) %}
                        {% if "ROLE_USER" in user.roles %}
                        <label for="user">Utilisateur: </label>
                        <input type="checkbox" value="user" name="user" checked disabled>
                        {% endif %}
                        {% if "ROLE_ADMIN" in user.roles %}
                            <label for="admin">Admin: </label>
                            <input type="checkbox" value="admin" name="admin" checked disabled>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock %}